@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.rated-badges {
  @apply bg-lightMag py-3 px-6 font-bold rounded-lg text-darkMag flex justify-center items-center w-[26.25rem] 
   text-sm lg:px-4 md:w-[auto] sm:flex-col sm:text-center sm:gap-2;
}

.reviews {
  @apply bg-darkMag text-white p-6 max-w-[300px] rounded-lg h-[200px] text-[13px] md:h-auto;
}

.avatar {
  @apply h-[35px] rounded-full mr-4;
}
